<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nostrum fuga hic quia quod aspernatur maxime numquam aut suscipit saepe quas velit, repudiandae, praesentium pariatur inventore corporis voluptate excepturi ut.</p>
    </div>
</div>