<div class="jumbotron mt-8">
    <h1 class="display-4">Fast Food App</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt nostrum fuga hic quia quod aspernatur maxime numquam aut suscipit saepe quas velit, repudiandae, praesentium pariatur inventore corporis voluptate excepturi ut.</p>
    <a class="btn btn-primary btn-lg" href="http://www.casolutions.cl" role="button">CA.Solutions</a>
</div>
